body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 960px;
}
label{
    display: block;   
}
input{
    box-sizing: border-box;
    margin: 5px 0 15px 0;
    padding: 5px;
    width: 35%;
}
textarea{
    height: 10em;
    border-radius: 5px;
}
#principal{
    font-size: 18px;
}