/* LOGIN */
.boxlog{
    display: flexblox;
    background-color: whitesmoke;
    box-shadow: 2px 2px 1px rgba(155, 155, 155, 0.2);
    margin: auto;
    width: 30%;
    padding: 1px;
}

.incorrecto{
    margin-top: 10px;
    font-weight: 500;
}

/* MENU */
/* .usuario{
    float: right;
}
.menuUser{
    display: flexbox;
    margin: auto;
    width: 50%;
}
.menu{
    display: inline-flex;
    margin: auto;
    text-align: center; 
} */

.menuUser{
    display: flexbox;
    margin: auto;
    width: 50%;
}