/* LOGIN */
.boxlog{
    display: flexblox;
    background-color: whitesmoke;
    box-shadow: 2px 2px 1px rgba(155, 155, 155, 0.2);
    margin: auto;
    width: 640px;
    padding: 20px;
    max-width: 100%;
    height: auto;
}

.incorrecto{
    margin-top: 10px;
    font-weight: 500;
}

.menuUser{
    width: 960px;
    margin: auto;
    max-width: 100%;
    height: auto;
    padding: 5px;
}