<h2>Es la sección Nosotros</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta natus consectetur culpa minus iusto facilis! Tempore,
    omnis, quam temporibus repellendus atque aspernatur nihil, odio nam quisquam a nemo sunt totam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores mollitia autem magni, nostrum doloribus nulla natus
    nam laborum omnis quae velit. Velit dolore repellendus incidunt qui magnam? Natus, magni enim.</p>