p{
    color: lightblue;
    font-family: sans-serif;
    text-align: center;
}

.prueba{
    color: cornflowerblue;
}

.medioparrafo{
    color: black;
    size: 22;
}

/* creamos cuadrado celeste */

#cuadrado1{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    color: rgb(0, 9, 139);
    /* centrado horizontal  */
    text-align: center;
    /* y vertical que se pone, busque pero no encontre nada */
}

#cuadrado1:hover{
    background-color: lightskyblue;
}