/* .holder{
    width: 960px;
} */
.contenedor{width: 960px;}

.columna{
    width: auto;
    padding: 0.6em; 
    box-sizing: border-box;
}
.left{
    float: left;
}
.right{
    float: right;
}
.columna.right p{
    font-size: 0.9em;
}
.columna.right ul li{
    font-size: 0.8em;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0.5em;
}
.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
.formulario input, .formulario textarea{
    border-radius: 5px;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
}
.formulario input[type="submit"]{ /*boton de enviar*/
    font-size: 1em;
    width: auto;
    cursor: pointer;
}
.formulario textarea{/*donde escribimos el pedido*/
    height: 10em;
    resize: none;
}
.formulario .acciones{
    text-align: center; /*centra el enviar*/
}
a{
    text-decoration: none;
    color: black;
}