table{
    width: 768px;
    border-collapse: collapse;
}
table, tr, td {
    border-bottom: 1px solid #ddd;
}
table.menu {
    margin-left: auto;
    margin-right: auto;
}
td{
      text-align: center;
      width: 17em;
      padding-top: 3px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f31008c4;
    color: whitesmoke;
}
.encabezado{
    height: 40px;
    font-size: 20px;
    background-color: #f31008c7;
    color: whitesmoke;
}