.holder {
    display: flexbox;
    width: 960px;
    max-width: 100%;
    height: auto;
}
.historia{
    margin-top: 10%;
}
#nos{
    font-weight: 500;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
    background-color: #f70d05c7;
    color: whitesmoke;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nosotros{
    margin: 1em 0;
    padding: 1em;
}

.nosotros .info h4{
    color: #333;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid rgba(51, 51, 51, 0.158);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.nosotros .info p{
    font-size: 0.8em;
    line-height: 1.2em;
}
.nosotros img{
    border-radius: 0.8em;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
