.holder{
    width: 960px;
    margin: auto;
}
.columnas{
    overflow: hidden;
}

.direccion{
    float: left;
    width: 40%;
}
.mapagoogle{
    margin-top: 30px;
    float: right;
    border: 0; 
    width: 30%;
    border-style: none;
    padding-bottom: 10px;
}

iframe{
    height: 320px; 
    width: 480px;
    border-width: 2px;
    border-style: none;
    border-color: initial;
    border-image: initial;
}