.holder{
    width: 960px;
    margin: auto;
    margin-top: 7%;
    max-width: 100%;
    height: auto;
}

.direccion{
    float: left;
    padding:10px
}
.mapagoogle{
    margin-top: 20px;
    float: right;
    border: 0; 
    border-style: none;
    padding: 10px;
    padding-bottom: 30px;
}

iframe{
    height: 320px; 
    width: 480px;
    border-width: 2px;
    border-style: none;
    border-color: initial;
    border-image: initial;
}