<link rel="stylesheet" href="/stylesheets/admin.css">
<div class="boxlog">
    <div class="row" style="margin: 50px 0">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="mb-3 row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="inputUser" placeholder="Usuario" name="usuario">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-danger" >Ingresar</button>
            </form>
            {{#if error}}
                <p class="incorrecto">Usuario o clave incorrecto</p>
            {{/if}}
        </div>
    </div>
</div>