<h2>Proximamente Menú</h2>
<div class="row">
    <div class="col">
        <p class="text-right">Hola {{ usuario }} <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión<i class="fa fa-sig-out"></i></a></p>
    </div>
</div>